<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Detector de somnolencia</string>
    <key>CFBundleDisplayName</key>
    <string>Detector de somnolencia</string>
    <key>CFBundleIdentifier</key>
    <string>com.viuch3.detectorsomnolencia</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>lanzador</string>
    <key>CFBundleIconFile</key>
    <string>icono</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Se usa la camara para detectar si el conductor cierra los ojos.</string>
</dict>
</plist>
